// Colours
// Generic Gradient
$colour-1 : #3640B4;
$colour-2: #B536A5;
$colour-3: #F64A84;
$colour-4: #FF8063;
$colour-5: #FFBD54;
$colour-6: #F9F871;

$border-25 : rgba(31, 33, 37, 0.25);

$border-grey: #f3f3f3;
$light-grey: #d8dde0;
$dark-grey: #707070;

// Basic
$primary : #3640B4;
$black: #212529;
$white: #ffffff;
$white-50: rgba(255, 255, 255, 0.5);
$danger: #D5281B;
$amber : #f5cf36;
$warning : #ec9b00;
$success: #007f3b;
$info: #4611b0;

$text-body: #212529;

$dropshadow : drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));